.page-box{
  text-align: center;
}

.todoListContainer{
  margin-top:2rem;
}
.inputWithbutton{
  display: flex;
  justify-content: space-evenly;
}

.border-green{
  border: 1px solid green;
}

.filterbar{
  display: flex;
  justify-content: space-between;
}

.applyFilters{
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.card{
  width: 18rem;
  text-align: left;
  background-color: rgb(210, 250, 210);
}
.taskButtons{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.taskElements{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}
.form-group{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.buttongrp{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.custom-select{
  color: white;
}
.input-group{
  flex-direction: column;
}
.PageTitle{
  color :green
}
p{
  font-weight: bold;
}